*{
margin: 0;
box-sizing: border-box  

}
header{
    padding: 1%;
    background-color: #36364F;
    color: #1d5357;
}
    nav{
        width:100;
        display: flex;
        flex-direction: row;
    
 }
 nav{
    background-color: c21a0e;
    width: 30%;
    display: flex;
    flex-direction: row;
 }
    main{
        width: 70%;
        height: 100wh;
        text-align: center
        font-size calc(2px + 2w);
}
main*{
    margin: 2% 0

}
nav ul{
    padding-left: 0;
    list-style: none;
}
nav li{
    border: 5px solid #ACBAC4;
    width: 80%;
    margin: 5 auto;
    padding: 1%;
   text-align: center;
}
    nav a{
        text-decoration: none;
       font-size: calc(2px + 1.3w);
}
    #button{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

@media screen and (max-width: 600px){
               #nav-main{
            flex-direction: column;
             }
             #nav-main{
                width: 100%;
            }

  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}


}
#container{
    background-color: #d49f2c;
width: 80w;
margin: 0 auto;
text-align: center;
}
#nav-main{
    width: 100%;
    display: flex;
    flex-direction: row;
}
main ing{
    max-width: 40%;
}